/* TODO */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
html{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
body {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 75.2%);
}
#logoPop {
    height: 30px;
}

#cardResult {
background: white;
margin: 10px;
border-radius: 20px;
}
img {
    width: 200px;
    height: 250px;
    margin: 10px;
}
#resultRequest{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#resultRequest h2{
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}
#resultRequest p{
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
#cardResult div {
    flex: 1;
    max-width: 33.33%;
}